<h1>Vehicle - id: <%= @vehicle.id %> Show</h1>
      
    <p>
      <%= @vehicle.id %> |
      <%= @vehicle.brand %> |
      <%= @vehicle.model %> |
      <%= @vehicle.year %> |
      <%= @vehicle.plate %> |
      <%= @vehicle.kind %> |
    </p>
    

 